.cart-container {
    flex-direction: column;
    align-items: flex-start;
}

.cart-article-container img {
    max-height: 250px;
    height: 15vw;
}

.cart-article-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    align-items: center;
}

.right-info-cart-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-article-price{
    font-size: clamp(20px, 5vw, 30px);
}

.subtotal-label {
    margin-top: 20px;
    font-size: clamp(15px, 5vw, 20px);
}

.cart-container span{
    border-bottom: 2px solid #c8c8c8;
    width: 100%;
}

.bottom-cart-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottom-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.total-label {
    font-size: clamp(20px, 6vw, 30px);
}

button {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 30px;
    text-decoration: none;
    outline: none;
    border: none;
}

.stripe {
    border-radius: 40px;
    border: 2px solid #0ED4FF;
    background: #0ED4FF;
    box-shadow: 0px 15px 20px rgba(14, 212, 255, 0.4);
    color: white;
    margin-top: 10px;
}

button:hover {
    border: 2px solid #0077ff;
    background: #0077ff;
    box-shadow: 0px 15px 20px rgba(0, 119, 255, 0.4);
    transform: translateY(-8px);
    transition-duration: 400ms;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}