#main-container {
    width: 100%;
    margin-top: 50px;
}

.article-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    max-width: 1000px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.article-container img {
    max-height: 250px;
    height: 15vw;
}

.title-description-container {
    width: 50%;
    height: 100%;
    margin-left: 10px;
}

.article-title {
    font-size: clamp(30px, 5vw, 40px);
}

.right-article-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.article-price {
    font-size: clamp(30px, 5vw, 40px);
}

.article-stock {
    font-size: clamp(10px, 2vw, 15px);
}

.price-stock-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

button {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 30px;
    text-decoration: none;
    outline: none;
    border: none;
}

.stripe {
    border-radius: 40px;
    border: 2px solid #0ED4FF;
    background: #0ED4FF;
    box-shadow: 0px 15px 20px rgba(14, 212, 255, 0.4);
    color: white;
    margin-top: 30%;
}

button:hover {
    border: 2px solid #0077ff;
    background: #0077ff;
    box-shadow: 0px 15px 20px rgba(0, 119, 255, 0.4);
    transform: translateY(-8px);
    transition-duration: 400ms;
}