@font-face {
    font-family: "Roboto Thin";
    src: url("/font/Roboto-Thin.ttf") format("ttf");
}

html {
    background: #f2f8ff;
}

body {
    font-family: "Roboto Thin", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header img {
    height: 30px;
    padding: 8px;
}

header span {
    border-bottom: 2px solid #c8c8c8;
    width: 80vw;
}

h1 {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 100;
}

h2 {
    font-size: clamp(30px, 6vw, 50px);
    font-weight: 100;
}

h3 {
    margin-left: 30px;
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 100;
}

.header-user-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
}

.user-name-label {
    margin-right: 20px;
    line-height: 100%;
}

.header-clickable-item:hover {
    background: #0077ff;
    cursor: pointer;
    color: white;
}

.header-clickable-connection {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

.article-title {
    font-size: clamp(30px, 5vw, 40px);
}

.main-container {
    width: 100%;
    margin-top: 50px;
}

.center-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    max-width: 1000px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.qty-article-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.qty-article-selected {
    width: 20%;
    border: 1px solid lightgrey;
    text-align: center;
}

.button-stock {
    background-color: #0ED4FF;
    border: none;
    color: white;
    cursor: pointer;
}

.button-stock:hover {
    background-color: #0077ff;
}

.my-account-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    background: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0077ff;
    color: white;
}

.my-account-dropdown:hover .dropdown-content {
    display: block;
}